@model IEnumerable<PruebaSodimac.Models.Tercero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Primernombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segundonombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primerapellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segundoapellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipodocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correoelectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Primernombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segundonombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primerapellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segundoapellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipodocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correoelectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Documento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Documento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Documento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
